.btn-custom{
    background-color: blueviolet;
}
body{
    background-color: #aaaaaa;
}


#connexion{
    margin-top: 4%;
    padding: 5%;
}


.trait{
    position: relative;
    background-color: #343a40;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    
}
#navbarSite{
    margin-bottom: 10px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


#btnVerif,#btnEnvoi,#btnAjoutVacation,#btnModifierFiche,#btnContinuer{

    margin-top:20px;
}

.vacation{
    margin-top:5px;
    margin-bottom:10px;
}
.btn{
    margin:3px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.list-group{
    position:absolute;
    z-index: 1; 
}
