.btn-custom{
    background-color: blueviolet;
}
body{
    background-color: #aaaaaa;
}


#connexion{
    margin-top: 4%;
    padding: 5%;
}

.infosPrincipales{
    margin-top:30px;
}

.vacation{ 
    border:solid black 1px;
}
